:root {
  --color-text: #3E3E40;
  --color-main: #0265C2;
  --color-accent: #FF4545;
  --color-gray-01: #F4F4F4;
  --color-gray-02: #B4B4B4;
  --color-gray-03: #EAEAEA;
  --font-family: "Bliss Pro", sans-serif;
  --font-family-accent: "Bliss Pro", sans-serif;
  --indexRatio: 1vh + 1vw;
  --brs: 8px;
  --brs-grid: 16px;
  --mainGap: 24px;
  --indentBlocks: 60px;
  --heroMinCol: calc(100% / 5 - 3 / 4 * var(--mainGap));
  --heroMaxCol: calc((100% - var(--heroMinCol) - 3 / 4 * var(--mainGap)) / 3);
}
@media (max-width: 768px) {
  :root {
    --mainGap: 16px;
  }
}
@media (max-width: 768px) {
  :root {
    --indentBlocks: 60px;
  }
}
@media (max-width: 480px) {
  :root {
    --indentBlocks: 32px;
  }
}

.footer_col__links__bold {
  margin-bottom: 44px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  max-width: 300px;
}
@media screen and (max-width: 600px) {
  .footer_col__links__bold {
    padding-top: 17px;
  }
}
@media screen and (max-width: 480px) {
  .footer_col__links__bold {
    margin-bottom: 18px;
  }
}

.footer_col__links_item {
  color: #fff;
  line-height: 1.125;
  transition: transform 0.25s;
}
.footer_col__links_item:hover {
  transform: translateY(-2px);
}
.footer_col__links__bold .footer_col__links_item {
  font-family: "Calibri";
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11111;
}
@media (max-width: 480px) {
  .footer_col__links__bold .footer_col__links_item {
    font-size: 16px;
    line-height: 1.12;
  }
}