@font-face {
  font-family: "Bliss Pro";
  src: local("Bliss Pro"), local("Bliss-Pro"), url("../fonts/BlissPro-Light.woff2") format("woff2"), url("../fonts/BlissPro-Light.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bliss Pro";
  src: local("Bliss Pro"), local("Bliss-Pro"), url("../fonts/BlissPro-Medium.woff2") format("woff2"), url("../fonts/BlissPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bliss Pro";
  src: local("Bliss Pro"), local("Bliss-Pro"), url("../fonts/BlissPro-Bold.woff2") format("woff2"), url("../fonts/BlissPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bliss Pro";
  src: local("Bliss Pro"), local("Bliss-Pro"), url("../fonts/BlissPro-ExtraBold.woff2") format("woff2"), url("../fonts/BlissPro-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bliss Pro";
  src: local("Bliss Pro"), local("Bliss-Pro"), url("../fonts/BlissPro-Heavy.woff2") format("woff2"), url("../fonts/BlissPro-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Calibri";
  src: local("Calibri Bold"), local("Calibri-Bold"), url("../fonts/Calibri-Bold.woff2") format("woff2"), url("../fonts/Calibri-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-text: #3E3E40;
  --color-main: #0265C2;
  --color-accent: #FF4545;
  --color-gray-01: #F4F4F4;
  --color-gray-02: #B4B4B4;
  --color-gray-03: #EAEAEA;
  --font-family: "Bliss Pro", sans-serif;
  --font-family-accent: "Bliss Pro", sans-serif;
  --indexRatio: 1vh + 1vw;
  --brs: 8px;
  --brs-grid: 16px;
  --mainGap: 24px;
  --indentBlocks: 60px;
  --heroMinCol: calc(100% / 5 - 3 / 4 * var(--mainGap));
  --heroMaxCol: calc((100% - var(--heroMinCol) - 3 / 4 * var(--mainGap)) / 3);
}
@media (max-width: 768px) {
  :root {
    --mainGap: 16px;
  }
}
@media (max-width: 768px) {
  :root {
    --indentBlocks: 60px;
  }
}
@media (max-width: 480px) {
  :root {
    --indentBlocks: 32px;
  }
}

:root {
  --color-text: #3E3E40;
  --color-main: #0265C2;
  --color-accent: #FF4545;
  --color-gray-01: #F4F4F4;
  --color-gray-02: #B4B4B4;
  --color-gray-03: #EAEAEA;
  --font-family: "Bliss Pro", sans-serif;
  --font-family-accent: "Bliss Pro", sans-serif;
  --indexRatio: 1vh + 1vw;
  --brs: 8px;
  --brs-grid: 16px;
  --mainGap: 24px;
  --indentBlocks: 60px;
  --heroMinCol: calc(100% / 5 - 3 / 4 * var(--mainGap));
  --heroMaxCol: calc((100% - var(--heroMinCol) - 3 / 4 * var(--mainGap)) / 3);
}
@media (max-width: 768px) {
  :root {
    --mainGap: 16px;
  }
}
@media (max-width: 768px) {
  :root {
    --indentBlocks: 60px;
  }
}
@media (max-width: 480px) {
  :root {
    --indentBlocks: 32px;
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 24px;
  padding: 16px 24px;
  font-family: "Calibri";
  font-size: 18px;
  color: #fff;
  line-height: 1.11;
  font-weight: 700;
  text-decoration: none;
  background-color: var(--color-accent);
  border-radius: var(--brs);
  border: none;
  transition: background-color 0.25s, color 0.25s, transform 0.25s;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .btn {
    padding: 16px 24px;
    font-size: 16px;
    line-height: 1.12;
  }
}
@media (max-width: 992px) {
  .btn {
    padding: 16px 24px;
    font-size: 16px;
    line-height: 1.12;
  }
}
@media (max-width: 768px) {
  .btn {
    padding: 17px 16px;
    font-size: 14px;
    line-height: 1.14;
  }
}
@media (max-width: 480px) {
  .btn {
    flex-grow: 1;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.14;
    border-radius: 8px;
  }
}
@media (max-width: 480px) {
  .btn {
    padding: 17px 10px;
    font-size: 12px;
    line-height: 1.17;
  }
}

.btn__light {
  background-color: #fff;
  color: var(--color-text);
}

.btn__dark {
  background-color: var(--color-text);
  color: #fff;
}

.btn__arrow {
  position: relative;
  padding: 0;
  margin-top: auto;
  width: 36px;
  height: 36px;
  background-color: #fff;
  border-radius: var(--brs);
}
.btn__arrow svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 28px;
  height: 18px;
}
.btn__arrow.btn {
  padding: 0;
}

.btn:hover {
  transform: translateY(-2px);
}

.btn:disabled {
  opacity: 0.4;
}

.btn-arrow {
  display: inline-block;
  height: 48px;
  width: 150px;
  color: #fff;
  background-color: #2C2C2C;
  border: none;
  background-size: 45px 16px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 0.25s;
}
.btn-arrow:hover {
  background-color: #FF7043;
}

.footer {
  padding-top: 60px;
  padding-bottom: 110px;
  background-color: #151515;
  color: #fff;
}
@media screen and (max-width: 480px) {
  .footer {
    padding-top: 32px;
    padding-bottom: 60px;
  }
}
.footer .container {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
@media screen and (max-width: 480px) {
  .footer .container {
    gap: 32px;
  }
}

.footer_btns {
  display: flex;
  gap: 24px;
}
@media screen and (max-width: 768px) {
  .footer_btns {
    gap: 20px;
  }
}
@media screen and (max-width: 480px) {
  .footer_btns {
    flex-direction: column;
  }
}

.footer_btns__item {
  margin-top: 0;
  min-width: 247px;
  background-color: #fff;
  font-size: 16px;
  line-height: 1.125;
  color: #151515;
}
@media screen and (max-width: 768px) {
  .footer_btns__item {
    width: 50%;
    min-width: initial;
  }
}
@media screen and (max-width: 480px) {
  .footer_btns__item {
    width: 100%;
  }
}

.footer_btns__item-icon {
  width: 16px;
  height: 16px;
}

.footer_links {
  display: flex;
  gap: 44px;
}
@media screen and (max-width: 992px) {
  .footer_links {
    flex-wrap: wrap;
    gap: 60px 44px;
  }
}
@media screen and (max-width: 960px) {
  .footer_links {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
  }
}
@media screen and (max-width: 600px) {
  .footer_links {
    grid-template-columns: 100%;
    grid-template-rows: repeat(5, auto);
    gap: 0;
  }
}

.footer_links__col {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 992px) {
  .footer_links__col:nth-of-type(5) {
    width: 100%;
  }
}
@media screen and (max-width: 960px) {
  .footer_links__col:nth-of-type(5) {
    width: auto;
  }
}
@media screen and (max-width: 768px) {
  .footer_links__col:nth-of-type(5) {
    grid-column: 2/4;
  }
}
@media screen and (max-width: 600px) {
  .footer_links__col:nth-of-type(5) {
    grid-column: 1/2;
  }
}

.footer_col__title {
  margin-bottom: 16px;
  font-family: "Calibri";
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11111;
}
@media (max-width: 480px) {
  .footer_col__title {
    font-size: 16px;
    line-height: 1.12;
  }
}
@media screen and (max-width: 600px) {
  .footer_col__title {
    margin-bottom: 0;
    padding-top: 17px;
    padding-bottom: 17px;
    position: relative;
  }
  .footer_col__title::before {
    position: absolute;
    top: 50%;
    right: 0;
    width: 36px;
    height: 36px;
    content: "";
    transform: translateY(-50%);
    background-image: url("./../../img/icons/triangle.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 16px;
    filter: brightness(0) invert(1);
  }
  .footer_col__title.active::before {
    transform: translateY(-50%) rotate(180deg);
  }
}

.footer_col__links {
  display: flex;
  flex-direction: column;
  gap: 16px;
  transition: height 0.25s, max-height 0.25s;
}
@media screen and (max-width: 600px) {
  .footer_col__links {
    height: 0;
    overflow: hidden;
  }
  .footer_col__links.active {
    display: flex;
    padding-left: 16px;
    padding-bottom: 16px;
    height: auto;
  }
}

.footer_col__links_item {
  color: #fff;
  line-height: 1.125;
  transition: transform 0.25s;
}
.footer_col__links_item:hover {
  transform: translateY(-2px);
}
.footer_col__links--bold .footer_col__links_item {
  font-family: "Calibri";
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11111;
}
@media (max-width: 480px) {
  .footer_col__links--bold .footer_col__links_item {
    font-size: 16px;
    line-height: 1.12;
  }
}

.footer_col__links--bold {
  margin-bottom: 44px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  max-width: 300px;
}
@media screen and (max-width: 600px) {
  .footer_col__links--bold {
    padding-top: 17px;
  }
}
@media screen and (max-width: 480px) {
  .footer_col__links--bold {
    margin-bottom: 18px;
  }
}

.soc-btns {
  display: flex;
  gap: 8px;
}

.soc-btns_descr {
  margin-bottom: 8px;
}

.soc-btns_item {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  transition: transform 0.25s;
}
.soc-btns_item:hover {
  transform: translateY(-2px);
}
.soc-btns_item img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.footer_awards {
  font-family: "Calibri";
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11111;
}
@media (max-width: 480px) {
  .footer_awards {
    font-size: 16px;
    line-height: 1.12;
  }
}
.footer_awards > *:first-child {
  margin-top: 0;
}
.footer_awards > *:last-child {
  margin-bottom: 0;
}

.footer_awards__list {
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 992px) {
  .footer_awards__list {
    justify-content: space-between;
    gap: initial;
  }
}
@media screen and (max-width: 600px) {
  .footer_awards__list {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-between;
    gap: 16px 0;
  }
}

.footer_awards__list-item {
  position: relative;
  height: 59px;
  width: 79px;
}
@media screen and (max-width: 768px) {
  .footer_awards__list-item {
    width: 66.95px;
    height: 50px;
  }
}
.footer_awards__list-item img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer_bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
@media screen and (max-width: 768px) {
  .footer_bottom {
    gap: 24px;
  }
}
@media screen and (max-width: 600px) {
  .footer_bottom {
    flex-direction: column;
    gap: 40px;
  }
}
.footer_bottom p {
  font-size: 14px;
  line-height: 1.14286;
}
@media (max-width: 480px) {
  .footer_bottom p {
    font-size: 12px;
    line-height: 1.16667;
  }
}

.footer_bottom__col > *:first-child {
  margin-top: 0;
}
.footer_bottom__col > *:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .footer_bottom__col:nth-of-type(1) {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .footer_bottom__col:nth-of-type(1) {
    width: 100%;
  }
}
.footer_bottom__col:nth-of-type(2) {
  max-width: 326px;
}
@media screen and (max-width: 768px) {
  .footer_bottom__col:nth-of-type(2) {
    max-width: initial;
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .footer_bottom__col:nth-of-type(2) {
    width: 100%;
  }
}

.footer_bottom__offer {
  margin-bottom: 30px;
}

.footer-company {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  gap: 6px 24px;
  max-width: 490px;
}

.footer-company__logo {
  position: relative;
  width: 45.32px;
  height: 56px;
  grid-column: 1/2;
  grid-row: 1/3;
}
.footer-company__logo img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer-company__copy {
  margin: 0;
  grid-column: 2/3;
  grid-row: 1/2;
  font-family: "Calibri";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.125;
}
@media (max-width: 480px) {
  .footer-company__copy {
    font-size: 14px;
    line-height: 1.14286;
  }
}

.footer-company__copy-descr {
  margin: 0;
  grid-column: 2/3;
  grid-row: 2/3;
}

.footer-rehau {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  gap: 16px;
  align-items: center;
  font-size: 14px;
  line-height: 1.14286;
}
@media (max-width: 480px) {
  .footer-rehau {
    font-size: 12px;
    line-height: 1.16667;
  }
}
@media screen and (max-width: 768px) {
  .footer-rehau {
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
  }
}

.footer-rehau__logo {
  grid-column: 1/2;
  grid-row: 1/2;
  position: relative;
  width: 72px;
  height: 24px;
  filter: brightness(0) invert(1);
}
.footer-rehau__logo img {
  margin-top: -8px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 768px) {
  .footer-rehau__logo img {
    margin-top: 0;
  }
}

.footer-rehau__descr {
  margin: 0;
  margin-top: -8px;
  grid-column: 1/2;
  grid-row: 2/3;
}
@media screen and (max-width: 768px) {
  .footer-rehau__descr {
    margin-top: 0;
  }
}

.footer-rehau__link {
  grid-column: 2/3;
  grid-row: 1/3;
  color: #fff;
  font-size: 0;
  transition: transform 0.25s;
}
.footer-rehau__link:hover {
  transform: translateY(-2px);
}
@media screen and (max-width: 768px) {
  .footer-rehau__link {
    grid-column: 1/2;
    grid-row: 3/4;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    height: 50px;
    font-family: "Calibri";
    font-weight: 700;
    font-size: 16px;
    line-height: 1.125;
    color: #151515;
    background-color: #fff;
    border-radius: 8px;
  }
}
@media screen and (max-width: 768px) and (max-width: 480px) {
  .footer-rehau__link {
    font-size: 14px;
    line-height: 1.14286;
  }
}

.footer-rehau__qr {
  position: relative;
  height: 80px;
  width: 80px;
}
@media screen and (max-width: 768px) {
  .footer-rehau__qr {
    filter: brightness(0) invert(0);
    height: 16px;
    width: 16px;
  }
}
.footer-rehau__qr img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}